.car-icon {
	padding: 5px 15px;
	margin: 0;
	box-shadow: none;
	border: none;
	background-color: #f9f9f9;
}
.car-icon img {
	height: 24px;
}

.date-num-div
{
   float:left;
   width:30%;
   padding-right:20px;
 
}
