<div data-role="content">
	<form>
	<label for="slider-H">Ora di arrivo:</label>
	<input type="range" name="slider-H" id="slider-H" min="8" max="20" value="8"></input>

	<label for="slider-alert">Avvisami N minuti prima:</label>
	<input type="range" name="slider-alert" id="slider-alert" min="0" max="60" value="5"></input>

	<label for="flip-1">Attivo:</label>
	<select id="flip-1" name="flip-1" data-role="slider">
		<option value="off">No</option>
		<option value="on">Si</option>
	</select>
	</form>
</div>